<!DOCTYPE html>
<html lang="de">
    <!--Unsichtbarer Teil der Webseite-->
    <!--Grundlegende EInstellungen der Seite-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Titel der Seite im Browser-Tab-->
    <title>N27 - Login</title>
  </head>

  <!--Alles, was auf der Seite im Browserfeld angezeigt werden soll, muss im body stehen.-->
  <body>
    <label>Benutzer-ID:</label>
    <input type="text" name="benutzerId">
    <label>Kennwort:</label>
    <input type="passwort" name="passwort">
    <input type="butten" name="Anmelden"
  </body>
</html>

