<!DOCTYPE html>
<html lang="de">  
  <head>
    <!--Die Gestaltung der Elemente der 
      HTML-Seite wird in der styles.css festgelegt-->
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        
    <title>N27 - Überweisungen</title>
  </head>
  <body>
    <header>
      <h1>Überweisungen</h1>    
      <nav>      
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>                        
        <a href="/login">Logout</a>        
        <a href="/impressum">Impressum</a>
        <a href="/stammdatenPflegen"><i class="fa fa-id-card-o" aria-hidden="true"></i></a>          
        <a href="mailto:stefan.baeumer@berufskolleg-borken.de"> <i class="fa fa-envelope-o"></i></a>
      </nav>   
      <br>
    </header>
    <form method="POST" action="/ueberweisen">
        <label>Iban des Empfängers:</label>
        <input type="text" name="iban" pattern="[A-Z0-9]{22}" title="Bitte exakt 22 Eichen eingeben!" >
        <label>Betrag:</label>
        <input type="number" name="betrag">    
        <label>Verwendungszweck:</label>    
        <input type="text" name="verwendungszweck">
        <button>Überweisen ausführen</button>
      </form>
      <label><%= meldung %></label>
  </body>
</html>